<a href="https://colab.research.google.com/github/AyushKushwaha2510/Python-Lectures/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a progaram to swap numbers

In [ ]:
a, b = 5, 6
b, a = a, b
print(a, b)

6 5

In [ ]:
_hulk = 1000
_thor = 800
print("Hulk power = ", _hulk)
print("Thor power = ", _thor)
_hulk, _thor = _thor, _hulk
print("After Swap")
print("Hulk power = ", _hulk)
print("Thor power = ", _thor)

Hulk power =  1000
Thor power =  800
After Swap
Hulk power =  800
Thor power =  1000

TypeCasting :
hulk strenght level is recorded as a string input 1000, convert it into an inteeger and increase it by 200

Thor hammer weight is 5000 , but you need to calculate the gravitational force which requies it as a float

Locy gets input in seconds as strings = "3600". Convert it into an integer and then to hours. Show final result as a float

IronMan recorded seven hits outoff ten shots, both integers. Convert them into float and calculatet the accuracy percentage.

In [ ]:
hits, total_shots = 7, 10
acc = float(hits/total_shots) * 100
print("Acc % is :", acc)
print(f"Acc % is : {acc:.2f}")

Acc % is : 70.0
Acc % is : 70.00

# Object Referencing

```
# This is formatted as code
```
[link text](https://)

Python Variable hold references to objects, not the actual objects themselves

In [ ]:
a = [1, 2, 3]
b = a
print("a original : ", a)
b.append(4)
print("a new :", a)
print("b : ", b)

a original :  [1, 2, 3]
a new : [1, 2, 3, 4]
b :  [1, 2, 3, 4]

Re-assinging a variable does not affect other variables referencing the same object unless explicitly updated

In [ ]:
a = [1, 2, 3]
b = a
b = [4, 5, 6]
print("a :", a)
print("b :", b)

a : [1, 2, 3]
b : [4, 5, 6]

In [ ]:
shield = ['vibranium', 'round']
copy_shield = shield
print("Original Shield is", shield)
print("Wolverine changes the material of shield")
copy_shield = 'adamantium'
print("New_shield", shield)

Original Shield is ['vibranium', 'round']
Wolverine changes the material of shield
New_shield ['vibranium', 'round']

Removing a variable

In [ ]:
a = 10
del a
print("a :", a)

NameError: name 'a' is not defined

In [ ]:
x = ['apple', 'banana', 'orange', 'mango', 'pineapple']
del x[0]
print("updated list :",x)
del x[2:4]
print("updated list :",x)

updated list : ['banana', 'orange', 'mango', 'pineapple']
updated list : ['banana', 'orange']

You need to calculate the average of the power level of your favourite avenger character

In [ ]:
power = [200, 400, 500, 100, 233]
if power :
  average = round(sum(power)/len(power), 2)
else:
  average = 0

print("average :", average)

average : 286.6

Interview TIP :

You must validate your input data and if empty or incorrect datatype can collapse even the strongest algorithm.
Never understimate the input validation

In [ ]:
import statistics

String

# String Datatype

1. Ordered collection of character arranged in a sequence.
2. String are arrays of bytes represented in Unicode characters.
3. No separate character. Character is lenght of one.
4. String is represented using ' ' or " " or """ """ .
5. String is immutable.

In [ ]:
s1 = "This is a string"
print(s1)
s2 = "This" + "is" + 'also' + '''a''' + """string"""
print(s2)
s3 = "This" + " " +  "is" + " " + 'also' + " " +  '''a''' + " " + """string"""
print(s3)
s4 = "This is an example of \
single line string written accross multiple lines."
print(s4)

This is a string
Thisisalsoastring
This is also a string
This is an example of single line string written accross multiple lines.

Concept :
A string can be repeated by multiplying it by an integer.

In [ ]:
hulk = "hulk : SMASH!! \n"
print(hulk*3)

hulk : SMASH!!
hulk : SMASH!!
hulk : SMASH!!

if you use # in a string , it will not behave as a comment

In [ ]:
iron_man = "MissionID:#100"
cap_am = "Avengers Assemble!#This is not a comment" # including (#) symbol to a string
print(iron_man)
print(cap_am)
# lenght of string
avenger = "IRONMAN"
avenger1 = "IRON MAN"
lenght_av = len(avenger)
lenght_av1 = len(avenger1)
print(f"The length of this string is {lenght_av} ")
print(f"The length of this string is {lenght_av1} ")

first_char = avenger1[0]
print(f"The first char of this string is {first_char} ")
last_char = avenger1[-1]
print(f"The last char of this string is {last_char} ")

# you can use both 0 and -0 for the first index , both are same
first_char = avenger1[-0]
print(f"The first char of this string using -0 is {first_char} ")

MissionID:#100
Avengers Assemble!#This is not a comment
The length of this string is 7
The length of this string is 8
The first char of this string is I
The last char of this string is N
The first char of this string using -0 is I

In [ ]:
# Slicing of String

avenger = "IRON MAN"
slicing = avenger[4:9] # if the upper limit is > size of string , then it will slice the sting till last
print(slicing)

print(avenger[-8:-4])
print(avenger[-8:-4][::-1])

for _ in avenger :
  print(_, end = "*")

print("\n",avenger[:6])

 MAN
IRON
NORI
I*R*O*N* *M*A*N*
 IRON M

Write a pyton program to select the parts {middle} of the sequences. These sequences are the tokens of text.
Example: token = ["ironman", "saves", "the", "world", "again"]

In [ ]:
token = ["ironman", "saves", "the", "world", "again"]
middle = token[2:3]
print(middle)

['the']

Slicing Concepts is usefull in text preprocssing (NLP - Natural Language Processing)

It is aslo used in features extraction and sequence modles
eg : RNN, tansformer network

#Boolean

In [ ]:
print(10>9>8)
print(10>9 and 9>8)
print(10>9 or 9>8)
print(10>9 or 10<9)
print(10>9 and 10<9)
print(10>9<11)
print(10>9<5)
print(not 10>9)

print(10^20)

True
True
True
True
False
True
False
False
30

Uses of XOR:
if original bits are changed by some other bits, then we can check it by doing xor, the bits which are 1 , they are changed.

Swap two numbers without using any extra variable

In [ ]:
a = 5
b = 7

print("orignial", a, b)
a = a^b
b = a^b   # b = a^b^b  => b = a
a = a^b   # a = a^b^a  => a = b

print("swaped", a, b)

orignial 5 7
swaped 7 5

Find the XOR of a number 10, 7.

In [ ]:
xor = 10^7
print(xor)

13

Check if XOR of two numbers are odd or even

In [ ]:
a = 10
b = 7

if(a^b)%2 == 0:
  print("even")
else:
  print("odd")

odd

Find unique number in an array, only one integer is unique, rest comes two times

In [ ]:
L = [4, 1, 2, 1, 2]

unique = 0
for num in L:
  unique ^= num

print(unique)

4

Fibonnaci and XOR are used for bitwise Encryption

In [ ]:
print(True + True)

2

In [ ]:
print(bool([]))  # empty
print(bool(" ")) # non empty

False
True

all and any function
all()
any()

In [ ]:
print(all([1, 2, 3]))
print(all([0, 2, 3]))    # since all are not true,
print(all([2, 2, 3]))
print(all([0, 1, 2, 3])) # since all are not true,

print(any([0, 1, 2, 3])) # since any is one (non-zero)

print(any([True, True]))

True
False
True
False
True
True

Check for students who have marks greater than 90

In [ ]:
marks = [65, 70, 80, 95]

print(any(m >= 90 for m in marks))
print(all(m >= 90 for m in marks))

True
False

#OPERATORS

In [ ]:
print(10+9)
print(10-9)
print(10*9)
print(10/9)
print(10//9)
print(2**2)
print(10%2) #   % is used in hashing and to check divisiblity and cryptography and alteration of my message(encryption)
print(2**2**3) # associativity is RIGHT to LEFT
print(-10//3) # in c/c++ is gives o/p -3


# ASSIGNMENT OPERATOR
"""
a = a + b is highest precidence
a += b is lowest precidence
"""
a = 5
a*=2+3
print(a)

""" Why do we use shorthand """

a-=2+3
print(a)

a+=2+3
print(a)

a*=2+3
print(a)

a/=2+3
print(a)

a//=2+3
print(a)

a%=2+3
print(a)

19
1
90
1.1111111111111112
1
4
0
256
-4
25
20
25
125
25.0
5.0
0.0

In [ ]:
A = [1, 2]
B = A
# A += [3]    # this update V
A = A + [3]   # this does not update V, update inplace
print(A)
print(B)

[1, 2, 3]
[1, 2]

In [ ]:
x = 5
x &= 3
print(x)

y = 5
y |= 3
print(y)

1
7

In [ ]:
x = 5
print(x >> 1) # 1 is the power of 2
print(x << 1)

2
10

In [ ]:
print(x := 5)   # : is used to make direct assignment in print

5

In [ ]:
x = 5
x ^= 3
print(x)

6

In [ ]:
x = 5
y = 5
print(x == 5)

True

In [ ]:
# LOGICAL OPERATOR
x = 10
y = 20
print(x and y)
print(x or y)
print([] and "HI")
print([] or "HI")

20
10
[]
HI

In [ ]:
a = "NITIKA"
for i in a :
  print(i)
  i.lower()

print()

a = "NITIKA"
for i in a :
  print(i)
  print(i.lower())


a = "NITIKA"
for i in a :
  i.lower() # original string will not be changed because string are immutable

N
I
T
I
K
A

N
n
I
i
T
t
I
i
K
k
A
a

is and not is identity operator

In [ ]:
avg = ["Thor", "Hulk"]
avg1 = avg
print(avg is avg1)
print(avg is not avg1)

True
False

In [ ]:
x = 258
y = 258

print(x is y) # memory location is not same => FALSE
# -5 to 256 is will TRUE after 256 sometimes FALSE

a = 256
b = 256
print(a is b)

print(x is not y)


print(x == y) # Values are same => TRUE

False
True
True
True

In [ ]:
x = ["mango", "apple", "banana"]
y = ["mango", "apple", "banana"]
z = x

print(x is not z)
print(x != y)
print(x == y)

False
False
True

# MEMBERSHIP OPERATOR

In [ ]:
a = "banana"
print("nana" in a)
print("apple" in a)
print("apple" not in a)

True
False
True

Check if a Given String only contains vowels

In [ ]:
# s = "aeiou"

# x = "aoieu"

# if sorted(s) == sorted(x):
#   print("yes")
# else:
#   print("no")


s = "aeiooue"

vowel = "aeiou"

flag = 0

for i in s:
  if i not in vowel:
    flag = 1
if flag == 1:
  print("FALSE")
else :
  print("TRUE")

TRUE

Assignment operator have lowest precidence

The Infinity Stones are:

*   Space Stone (Blue)
*   Reality Stone (Red)
*   Power Stone (Purple)
*   Mind Stone (Yellow)
*   Time Stone (Green)
*   Soul Stone (Orange)

In [ ]:
infinity_stones = ["Space Stone", "Reality Stone", "Power Stone", "Mind Stone", "Time Stone", "Soul Stone", "Reality Stone", "Power Stone", "Mind Stone", "Time Stone", "Soul Stone"]
print(infinity_stones)

# array can have same values multiple times

['Space Stone', 'Reality Stone', 'Power Stone', 'Mind Stone', 'Time Stone', 'Soul Stone', 'Reality Stone', 'Power Stone', 'Mind Stone', 'Time Stone', 'Soul Stone']

When we use while and do while loop

#LOOPING

In [ ]:
hero = ["ironman", "hulk", "captianamerica"]

for i in hero:
  print(i)

for i in range(len(hero)):
  print(i, hero[i])

i = 0
while(i<len(hero)):
  print(i, hero[i])
  i+=1

#List Comprehensing
[print(i) for i in hero]

ironman
hulk
captianamerica
0 ironman
1 hulk
2 captianamerica
0 ironman
1 hulk
2 captianamerica
ironman
hulk
captianamerica

[None, None, None]

You need to filterout the name of the avenger that consists or contain "America" as substirng

In [ ]:
hero = ["ironman", "hulk", "captianamerica"]

new_list = [ i for i in hero if "America" in i ]
print(new_list)

[]

Replace hulk with calm_guy

In [ ]:
hero = ["ironman", "hulk", "captianamerica"]

# Find the index of "hulk" and replace it with "calm_guy"
try:
  index_hulk = hero.index("hulk")
  hero[index_hulk] = "calm_guy"
  print(hero)
except ValueError:
  print("Hulk not found in the list.")

# One liner code
new_list = [i.replace("hulk", "calm_guy") if "hulk" in i else i for i in hero]
print(new_list)

a = ["calm_guy" if i == "hulk" else i for i in hero]
print(a)

['ironman', 'calm_guy', 'captianamerica']
['ironman', 'calm_guy', 'captianamerica']
['ironman', 'calm_guy', 'captianamerica']

Make a Characters in the list to uppercase

In [ ]:
hero = ["ironman", "hulk", "captianamerica"]

new_list = [i.upper() for i in hero]
print(new_list)

# another method to print the list
print([x for x in range(len(hero))])

['IRONMAN', 'HULK', 'CAPTIANAMERICA']

Create a list that only contain prime number

In [ ]:
def is_prime(num):
  """Checks if a number is prime."""
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

# Create a list of prime numbers up to a certain limit (e.g., 20)
prime_numbers = [num for num in range(2, 21) if is_prime(num)]
print(prime_numbers)

Create a list that contain only binary numbers

# MULTIDIMENTIONAL LIST

# USER INPUT

In [ ]:
friends = []
while(True) :
  friend = input("Enter friend name :")
  friends.append(friend)
  print(friends)

Enter friend name :mohit
['mohit']
Enter friend name :amarjeet
['mohit', 'amarjeet']
Enter friend name :satyam
['mohit', 'amarjeet', 'satyam']
Enter friend name :rishabh
['mohit', 'amarjeet', 'satyam', 'rishabh']

KeyboardInterrupt: Interrupted by user

In [ ]:
friends = []
n = int(input("Enter the no. of friends :"))
for i in range(n):
  friend = input("Enter friend name :")
  friends.append(friend)
print(friends)

Enter the no. of friends :4
Enter friend name :rishabh
Enter friend name :satyam
Enter friend name :anurag
Enter friend name :amarjeet
['rishabh', 'satyam', 'anurag', 'amarjeet']

In [ ]:
nums = []
for i in range(3):
    num = input("Enter a number: ")
    nums.append(num)

print(nums)          # full list
print(nums[0])       # first element
print(type(nums))    # type of nums
print(type(nums[0])) # type of first element

nums.remove(60)      # will work if 60 was entered
print(nums)

Enter a number: 70 60 80

ValueError: invalid literal for int() with base 10: '70 60 80'

In [ ]:
# .clear() will clear the list
# .pop() will
# .del()

In [ ]:
lst = [[1, 2],
       [3, 4],
       [5, 6]]

flat = [num for row in lst for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]

In [ ]:
cars = ["Audi", "BMW", "Mercedes"]
colors = ["Red", "Black", "White"]

print([(car, color) for c in car for color in colors])

[('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White'), ('Mercedes', 'Red'), ('Mercedes', 'Black'), ('Mercedes', 'White')]

In [ ]:
no = [1, 2, 3, 4, 5, 6]
no[2:] = [10]
print(no)

[1, 2, 10]

Find the missing number using gauss summation

Make a list of numbers and filterout the even numbers

In [2]:
L = [1, 2, 4, 5, 6, 7, 10, 56, 3, 45, 56, 7, 102, 45]

print([i for i in L if i % 2 == 0])

[2, 4, 6, 10, 56, 56, 102]

make all letter capital in a list

In [5]:
l = ["apple", "orange"]
print([x.upper() for x in l ])

['APPLE', 'ORANGE']

Flatten a nested list

In [8]:
l = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

print("flatten list :", [x for i in l for x in i])

flatten list : [1, 2, 3, 4, 5, 6, 7, 8, 9]

You are having two list,
one list contain name of boys and other contains girls, make a dating app to combine the boys-girls

In [12]:
boys = ["B1", "B2", "B3"]
girls = ["G1", "G2", "G3"]

date = []

[('B1', 'G1'), ('B2', 'G2'), ('B3', 'G3')]

In [18]:
cars = {
    "brand": "Ford",
    "model": "Mustang",
}

cars['model'] = 'z2025'
# print(cars)

# print(cars["brand"])

x = cars.get('mode', 'you have entered a wrong key')
# print(len(cars))
# x = cars.pop('model')
# x = cars.pop('Ford')
x = cars.popitem()
# cars.clear()
# print(x)
# del cars['brand']
# print(cars)

# print(x)
car_copy = cars.copy()
print(car_copy)
print(id(cars))
print(id(car_copy))
car_copy['color'] = 'blue'

"""
Assignment operator doesnot work for mutable,
when you want to copy a data in new variable, then use copy
"""

print(cars)
print(car_copy)

{'brand': 'Ford'}
132874646263040
132874255713344
{'brand': 'Ford'}
{'brand': 'Ford', 'color': 'blue'}

In [28]:
car = {
    "brand": "Ford",
    "model": "Mustang",
}

for x in car:
  # print(x)
  print(f"{x} : {car[x]}")
  print(x, car[x])

for k, v in car.items():
  print(k, v)

print({(k, v) for k, v in car.items()}) # dictionary comprehension

brand : Ford
brand Ford
model : Mustang
model Mustang
brand Ford
model Mustang
{('brand', 'Ford'), ('model', 'Mustang')}

In [27]:
fruits = ['apple', 'apple', 'banana', 'orange']
count = {}
for fruit in fruits:
    if fruit in count:
        count[fruit] += 1
    else:
        count[fruit] = 1
print(count)

{'apple': 2, 'banana': 1, 'orange': 1}

In [30]:
fruits = ['apple', 'apple', 'banana', 'orange']
count = {}
for fruit in fruits:
    count[fruit] = count.get(fruit, 0) + 1
print(count)

{'apple': 2, 'banana': 1, 'orange': 1}

#Nested Dictionary

In [44]:
sec_A_students = {
    "s1":{
        'name' : 'mohit',
        'roll' : 60,
        'year' : 2020
    },

    "s2":{
        'name' : 'ayush',
        'roll' : 20,
        'year' : 2024
    }
}

# print(sec_A_students["s1"]["roll"])

# print({k[v]["roll"] for k, v in sec_A_students })

# print({(sec_A_students[s]['name'], sec_A_students[s]['roll']) for s in sec_A_students})

for k, v in sec_A_students.items():
    print(k)  # outer key (e.g., 's1')
    for y in v:
        print(y, v[y])  # inner key-value pairs

s1
name mohit
roll 60
year 2020
s2
name ayush
roll 20
year 2024