<a href="https://colab.research.google.com/github/AyushKushwaha2510/Python-Lectures/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a progaram to swap numbers

In [ ]:
a, b = 5, 6
b, a = a, b
print(a, b)

6 5

In [ ]:
_hulk = 1000
_thor = 800
print("Hulk power = ", _hulk)
print("Thor power = ", _thor)
_hulk, _thor = _thor, _hulk
print("After Swap")
print("Hulk power = ", _hulk)
print("Thor power = ", _thor)

Hulk power =  1000
Thor power =  800
After Swap
Hulk power =  800
Thor power =  1000

TypeCasting :
hulk strenght level is recorded as a string input 1000, convert it into an inteeger and increase it by 200

Thor hammer weight is 5000 , but you need to calculate the gravitational force which requies it as a float

Locy gets input in seconds as strings = "3600". Convert it into an integer and then to hours. Show final result as a float

IronMan recorded seven hits outoff ten shots, both integers. Convert them into float and calculatet the accuracy percentage.

In [ ]:
hits, total_shots = 7, 10
acc = float(hits/total_shots) * 100
print("Acc % is :", acc)
print(f"Acc % is : {acc:.2f}")

Acc % is : 70.0
Acc % is : 70.00

# Object Referencing

```
# This is formatted as code
```
[link text](https://)

Python Variable hold references to objects, not the actual objects themselves

In [ ]:
a = [1, 2, 3]
b = a
print("a original : ", a)
b.append(4)
print("a new :", a)
print("b : ", b)

a original :  [1, 2, 3]
a new : [1, 2, 3, 4]
b :  [1, 2, 3, 4]

Re-assinging a variable does not affect other variables referencing the same object unless explicitly updated

In [ ]:
a = [1, 2, 3]
b = a
b = [4, 5, 6]
print("a :", a)
print("b :", b)

a : [1, 2, 3]
b : [4, 5, 6]

In [ ]:
shield = ['vibranium', 'round']
copy_shield = shield
print("Original Shield is", shield)
print("Wolverine changes the material of shield")
copy_shield = 'adamantium'
print("New_shield", shield)

Original Shield is ['vibranium', 'round']
Wolverine changes the material of shield
New_shield ['vibranium', 'round']

Removing a variable

In [ ]:
a = 10
del a
print("a :", a)

NameError: name 'a' is not defined

In [ ]:
x = ['apple', 'banana', 'orange', 'mango', 'pineapple']
del x[0]
print("updated list :",x)
del x[2:4]
print("updated list :",x)

updated list : ['banana', 'orange', 'mango', 'pineapple']
updated list : ['banana', 'orange']

You need to calculate the average of the power level of your favourite avenger character

In [ ]:
power = [200, 400, 500, 100, 233]
if power :
  average = round(sum(power)/len(power), 2)
else:
  average = 0

print("average :", average)

average : 286.6

Interview TIP :

You must validate your input data and if empty or incorrect datatype can collapse even the strongest algorithm.
Never understimate the input validation

In [ ]:
import statistics

String

# String Datatype

1. Ordered collection of character arranged in a sequence.
2. String are arrays of bytes represented in Unicode characters.
3. No separate character. Character is lenght of one.
4. String is represented using ' ' or " " or """ """ .
5. String is immutable.

In [ ]:
s1 = "This is a string"
print(s1)
s2 = "This" + "is" + 'also' + '''a''' + """string"""
print(s2)
s3 = "This" + " " +  "is" + " " + 'also' + " " +  '''a''' + " " + """string"""
print(s3)
s4 = "This is an example of \
single line string written accross multiple lines."
print(s4)

This is a string
Thisisalsoastring
This is also a string
This is an example of single line string written accross multiple lines.

Concept :
A string can be repeated by multiplying it by an integer.

In [ ]:
hulk = "hulk : SMASH!! \n"
print(hulk*3)

hulk : SMASH!!
hulk : SMASH!!
hulk : SMASH!!

if you use # in a string , it will not behave as a comment

In [ ]:
iron_man = "MissionID:#100"
cap_am = "Avengers Assemble!#This is not a comment" # including (#) symbol to a string
print(iron_man)
print(cap_am)
# lenght of string
avenger = "IRONMAN"
avenger1 = "IRON MAN"
lenght_av = len(avenger)
lenght_av1 = len(avenger1)
print(f"The length of this string is {lenght_av} ")
print(f"The length of this string is {lenght_av1} ")

first_char = avenger1[0]
print(f"The first char of this string is {first_char} ")
last_char = avenger1[-1]
print(f"The last char of this string is {last_char} ")

# you can use both 0 and -0 for the first index , both are same
first_char = avenger1[-0]
print(f"The first char of this string using -0 is {first_char} ")

MissionID:#100
Avengers Assemble!#This is not a comment
The length of this string is 7
The length of this string is 8
The first char of this string is I
The last char of this string is N
The first char of this string using -0 is I

In [ ]:
# Slicing of String

avenger = "IRON MAN"
slicing = avenger[4:9] # if the upper limit is > size of string , then it will slice the sting till last
print(slicing)

print(avenger[-8:-4])
print(avenger[-8:-4][::-1])

for _ in avenger :
  print(_, end = "*")

print("\n",avenger[:6])

 MAN
IRON
NORI
I*R*O*N* *M*A*N*
 IRON M

Write a pyton program to select the parts {middle} of the sequences. These sequences are the tokens of text.
Example: token = ["ironman", "saves", "the", "world", "again"]

In [ ]:
token = ["ironman", "saves", "the", "world", "again"]
middle = token[2:3]
print(middle)

['the']

Slicing Concepts is usefull in text preprocssing (NLP - Natural Language Processing)

It is aslo used in features extraction and sequence modles
eg : RNN, tansformer network

#Boolean

In [9]:
print(10>9>8)
print(10>9 and 9>8)
print(10>9 or 9>8)
print(10>9 or 10<9)
print(10>9 and 10<9)
print(10>9<11)
print(10>9<5)
print(not 10>9)

print(10^20)

True
True
True
True
False
True
False
False
30

Uses of XOR:
if original bits are changed by some other bits, then we can check it by doing xor, the bits which are 1 , they are changed.

Swap two numbers without using any extra variable

In [12]:
a = 5
b = 7

print("orignial", a, b)
a = a^b
b = a^b   # b = a^b^b  => b = a
a = a^b   # a = a^b^a  => a = b

print("swaped", a, b)

orignial 5 7
swaped 7 5

Find the XOR of a number 10, 7.

In [15]:
xor = 10^7
print(xor)

13

Check if XOR of two numbers are odd or even

In [16]:
a = 10
b = 7

if(a^b)%2 == 0:
  print("even")
else:
  print("odd")

odd

Find unique number in an array, only one integer is unique, rest comes two times

In [17]:
L = [4, 1, 2, 1, 2]

unique = 0
for num in L:
  unique ^= num

print(unique)

4

Fibonnaci and XOR are used for bitwise Encryption

In [18]:
print(True + True)

2

In [19]:
print(bool([]))  # empty
print(bool(" ")) # non empty

False
True

all and any function
all()
any()

In [26]:
print(all([1, 2, 3]))
print(all([0, 2, 3]))    # since all are not true,
print(all([2, 2, 3]))
print(all([0, 1, 2, 3])) # since all are not true,

print(any([0, 1, 2, 3])) # since any is one (non-zero)

print(any([True, True]))

True
False
True
False
True
True

Check for students who have marks greater than 90

In [28]:
marks = [65, 70, 80, 95]

print(any(m >= 90 for m in marks))
print(all(m >= 90 for m in marks))

True
False